/* IMPORTING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans+Narrow&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* SET UP CSS RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --main-section-background: white;
  --main-text-color: black;
  --nav-text-color: rgba(0, 0, 0, 0.842);
  --main-star-color: #f59e0b;
  --item-amount-text: #a3a3a3;
  --background-choose-us-section: #fecaca81;
  --section-title-font: "Poppins", sans-serif;
  --footer-background: #4f393dda;
}
/* SET UP GLOBAL STYLES */
html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  /* font-family: "PT Sans Narrow", sans-serif; */
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-section-background);
}

/* MAIN HEADER STYLING (UPMOST TOP PORTION (INCLUDING NAVIGATION BAR)) */

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.main-header-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 1.2rem 0 1.2rem 3rem;
}
.pink-text {
  color: #ef4444;
}
/* .nav-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
} */

/* .nav-bar ul a {
  display: block;
  text-align: center;
} */

.nav-bar ul {
  list-style-type: none;
  display: flex;
  margin-top: 1.8rem;
  gap: 1.3rem;
}

.nav-bar ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.801);
  font-size: 1.2rem;
  position: relative;
}

.nav-bar ul li a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -9px;
  border-radius: 12px;
  background-color: #dc2626;
  transition: 0.5s;
}
.nav-bar ul li a:hover {
  color: #dc2626;
}
.nav-bar ul li a:hover:after {
  width: 100%;
}

.nav-icon ul {
  display: flex;
  margin-top: 1.4rem;
  margin-right: 3.5rem;
  list-style-type: none;
  gap: 1.3rem;
}

.nav-icon ul li a {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.nav-icon ul li #menu-icon {
  font-size: 1.7rem;
  cursor: pointer;
  display: none;
}
.nav-icon i {
  transition: transform 0.2s;
}
.nav-icon i:hover {
  color: #dc2626;
  transform: translateY(-4px);
}

/* STYLING THE HOME SECTION */

.home-section {
  display: flex;
  align-items: center;
  min-height: 80vh;
  background-image: url(../images/Home-background/oleg-ivanov-VwxNJRHQLjA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-section .home-content {
  max-width: 630px;
  padding: 10rem 0 3rem 6rem;
}

.home-content h1 {
  font-family: var(--section-title-font);
  font-size: 4.5rem;
  letter-spacing: 0.7rem;
}

.home-content h2 {
  font-size: 4rem;
  font-weight: lighter;
}

.home-content p {
  font-size: 1.1rem;
}

.home-content .disc-btn {
  border-radius: 20px;
  margin-top: 1.1rem;
  width: 180px;
  border: 1px solid var(--main-text-color);
  color: white;
  background-color: var(--main-text-color);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.home-content .disc-btn:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
/* NEW ARRIVAL SECTION  STYLING*/
.new-arrival-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4rem;
}
.new-arrival-title {
  margin-bottom: 2rem;
}

.new-arrival-title h1 {
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
}

.new-arrival-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  margin-bottom: 3.5rem;
}

.new-arrival-nav ul li a {
  color: rgba(0, 0, 0, 0.694);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.53);
  left: 0;
  bottom: -5px;
}

.new-arrival-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: var(--section-title-font);
}

.item-image {
  margin-bottom: 1.2rem;
  position: relative;
}

.item-image img {
  border-radius: 13px;
}

.item-image .hot-deal {
  position: absolute;
  top: 20px;
  left: 0;
  width: 80px;
  height: 30px;
  background-color: #dc2626;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.new-arrival-item:hover {
  transform: scale(1.1);
  border-radius: 13px;
  border: 1px solid black;
}

.new-arrival-item:hover .add-cart button {
  opacity: 1;
}

.add-cart {
  padding: 1.4rem 0;
  text-align: center;
}

.add-cart button {
  height: 40px;
  width: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
  color: white;
  border-radius: 7px;
  font-weight: bold;
  border: 1px solid #dc2626;
  background-color: #dc2626;
  opacity: 0;
  transition: opacity 0.6s;
  cursor: pointer;
}

.add-cart button:hover {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #dc2626;
  font-size: 0.95rem;
}
.item-desc-1 {
  text-align: center;
}

.item-desc-2 {
  text-align: center;
}
.item-desc-2 h3 {
  font-size: 1.1rem;
}

.item-desc-2 .star-icon .bxs-star {
  font-size: 1.2rem;
  color: var(--main-star-color);
}

/* WINTER SECTION */
.winter-section {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winter-items {
  margin-bottom: 7rem;
}

.winter-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.winter-item {
  margin-bottom: 1.3rem;
}
.winter-title {
  font-family: var(--section-title-font);
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

.winter-image {
  margin-bottom: 1.2rem;
}
.winter-image img {
  border-radius: 13px;
}

.winter-image img:hover {
  transform: scale(1.1);
}
.winter-item .winter-desc h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.winter-item .winter-desc .items-amount {
  color: var(--item-amount-text);
}

/*  WHY CHOOSE US SECTION */
.why-choose-us {
  background-color: var(--background-choose-us-section);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.why-choose-us h1 {
  font-size: 2.2rem;
  font-family: var(--section-title-font);
  letter-spacing: 0.3rem;
  padding: 1.4rem 0;
}

.why-choose-us-contents {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
  margin: 1.4rem 0;
}

.why-choose-us-content {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why-choose-us-content .bx {
  font-size: 5rem;
  color: #f87171;
  padding-bottom: 1.1rem;
}

.why-choose-us-content h3 {
  padding-bottom: 1.1rem;
  font-family: var(--section-title-font);
  font-size: 1.4rem;
}

.why-choose-us-content p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

/*  STYLING FOR FOOTER SECTION  */
.winter-footer {
  background-color: var(--footer-background);
  color: white;
  padding-top: 2rem;
}

.footer-header {
  margin: 0 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
  border-bottom: 1px solid white;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.footer-header .footer-title h3 {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer-nav p {
  color: rgba(255, 255, 255, 0.667);
  font-size: 0.9rem;
}
.footer-nav .bx {
  font-size: 1.3rem;
}

.footer-main {
  padding: 1.2rem 0;
  margin: 0 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15rem;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1.5rem;
}

.footer-content h4 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

.footer-content a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.769);
}

.footer-content a:hover {
  color: #f59e0b;
}
.footer-content .email-input {
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 1.2rem;
  width: 250px;
}

.footer-content form {
  position: relative;
}
.footer-content .submit-btn {
  position: absolute;
  top: 5px;
  left: 150px;
  height: 30px;
  width: 95px;
  color: white;
  background-color: var(--footer-background);
  border: 1px solid var(--footer-background);
  border-radius: 4px;
}

.footer-foot {
  padding: 1.2rem 0;
  margin: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.footer-foot .footer-foot-title p {
  color: rgba(255, 255, 255, 0.667);
  font-size: 0.9rem;
}

.footer-foot-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.footer-foot-nav nav ul {
  display: flex;
  gap: 1.3rem;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.667);
  font-size: 0.9rem;
}

/*  MEDIA QUERIES */
@media (max-width: 1384px) {
  .footer-main {
    gap: 5rem;
  }
}
@media (max-width: 1299px) {
  .new-arrival-item {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1160px) {
  .home-section .home-content {
    max-width: 630px;
    padding: 10rem 0 3rem 2rem;
  }

  .home-content p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1105px) {
  .home-section {
    background-size: auto;
    background-position: left;
  }
}

@media (max-width: 800px) {
  .nav-icon ul li #menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
  }

  .main-header-text {
    font-size: 1.5rem;
    margin: 1.2rem 0 1.2rem 1rem;
  }
  .nav-icon ul {
    margin-right: 1.5rem;
  }
  .nav-icon ul li a {
    font-size: 1.2rem;
  }

  .nav-icon ul li #menu-icon {
    font-size: 1.5rem;
  }

  .nav-bar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    margin-top: 0;
    gap: 1.2rem;
    text-align: center;
    padding: 1.2rem 0;
    background-color: #f87171;
  }

  .nav-bar ul li a {
    color: rgba(0, 0, 0, 0.801);
  }

  .nav-bar ul li a:hover {
    color: white;
  }
  .nav-bar ul.test {
    top: 100%;
  }
}

@media (max-width: 565px) {
  .home-content h1 {
    font-size: 3.6rem;
  }

  .home-content h2 {
    font-size: 3rem;
  }
}

@media (max-width: 374px) {
  .new-arrival-nav ul li a {
    font-size: 0.95rem;
  }
  .why-choose-us h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 355px) {
  .main-header-text {
    font-size: 1.5rem;
    margin: 1.2rem 0 1.2rem 0.5rem;
  }

  .nav-icon ul {
    margin-right: 0.5rem;
    gap: 1rem;
  }

  .home-content h2 {
    font-size: 2.8rem;
  }
}
